.navbar {
    background-color: #d63384; 
    margin-bottom: 0;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #e2e2e2 !important;
}

.navbar-brand {
    margin-right: auto;
    color: #ffffff;
    font-weight: inherit;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #ffffff;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    border: 1px solid #e83e8c;
    padding: 5px 8px;
    width: 200px;
    outline: none;
}

.search-button {
    background-color: #d63384;
    border: none;
    padding: 5px 10px;
    color: white;
    font-size: small;
}

.search-button:focus {
    outline: none;
    box-shadow: none; 
}

.search-button i {
    font-size: 16px; 
}


body, html {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    margin-bottom: 10px; 
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-top: 20px; 
}

.main-container > .container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.section {
    margin-bottom: 20px; 
}

.card {
    border: none; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.col-md-3 {
    flex: 1 1 calc(25% - 20px); 
    max-width: 25%; 
    margin: 10px; 
}

.card-body {
    text-align: center; 
}

.card-title, .card-text {
    text-align: center; 
}

.btn-primary {
    background-color: #d63384;
    border: none; 
    border-radius: 5px; 
    color: white;
    padding: 10px 20px; 
    cursor: pointer; 
}

.btn-primary:hover {
    background-color: #ff0080; 
    border-color: #d63384; 
    color: #fff; 
}

.btn-primary {
    background-color: #e83e8c; 
    border: none; 
    border-radius: 5px; 
    color: white;
    padding: 10px 20px; 
    cursor: pointer;
}

footer {
    text-align: center; 
}
